.image1{
 
  margin-inline-start:  40%;
  border-radius: 50%;
  border-style: double;
  border-width: 5px;
  border-color: #00CCBB;
  width: 200px;
  height: 200px;
  background-color:#00CCBB;
  
}
nav{
  background-color: #6F346D;
  margin-inline-end: 80%;
  margin-left: 0px;
  color: #00CCBB;
  padding: 1px;

}
.intro{
    color: white;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    margin-inline-start: 10%;
}
h1 {
  color: white;
}
.menu{
    color: #00CCBB;
}
#menu ul{
  color: #00CCBB;
}
.heading{
    color: rgb(70, 16, 70);
    background-color: #00CCBB;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    border-color: teal;
    margin: 0%;
    padding: 10px;
}
.subheading{
    color:turquoise;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    /*background-color: #ccc;*/
    margin-inline-start: 60px;
    padding: 10px;
}
header {
  
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-inline-start: 35%;
  
}
body {
  /*background-image: linear-gradient(to bottom,gray 0%, gray 25%,
  turquoise 25%,turquoise 100%);*/
    background-color:#7E7F9A;
    font-size: 15px;
    margin: 0px;
    padding: 10px;
}
p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  margin: 60px;
}
ul{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    /*background-color: #ccc;*/
    margin: 60px;
    padding: 10px;
}
footer{
  
    background: linear-gradient( #00A396,#00CCBB, #CEFDFF );
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}
/*FORM STYLE*/
#contact {
  margin-top: 50px;
  padding: 8px;
  width: 100%;
}

#contact h2 {
  text-align: center;

}

#contact form {
  max-width: 300px;
  margin: 0 auto;
}

#contact label {
  display: block;
  margin-bottom: 5px;
  margin: 5px;
}
#contact .input {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#contact input[type="email"],
#contact select,
#contact textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#contact textarea {
  resize: vertical;
}
#contact button[type="submit"] {
  display: block;
  width: 50%;
  margin-left: 80px;
  padding: 10px;
  background-color: #4CAF50;
  font-size: large;
  color: #fff;
  border: none;
  border-radius: 5px;
}

#contact button[type="submit"]:hover {
 
  background-color: #45a049;
}
.required{
  /*content: "*";*/
  color: red;
  font-size: 15px;
  margin-left: 0px;
  
}
